#choose_image.modal.hide
  .modal-header
    %button.close{ 'data-dismiss' => 'modal' } ×
    %h3 Choose image
  .modal-body
    %img#image
  .modal-footer
    .buttons
      Choose a thumbnail
      %span.counters
        %span.current
          0
        of
        %span.count
          0
      = link_to 'Prev', '#', :id => :prev_image
      = link_to 'Next', '#', :id => :next_image
    %a.btn.btn-primary{ href:'#', 'data-dismiss' => 'modal' } Close
